{%load staticfiles%}
<html>
<head>
	<title>Bernoulli | Math reimagined.</title>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,400,500,700' rel='stylesheet' type='text/css'>
	<style>
	body {
		padding-top: 50px;
	}
	.starter-template {
		padding: 40px 15px;
		text-align: center;
	}
	</style>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/QuickGuide">Quick Guide</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/QuickGuide">Home</a></li>
						<li><a href="#about">About</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">

			<div class="starter-template">
				<h1>{{ page_summaries_list.0 }}</h1>
				<h2>Short Summary</h2>
				<p class="lead">{{ page_summaries_list.1 }}<br>
					{% if page_summaries_list.1 != page_summaries_list.2 %}
					<h2>Long Summary</h2>
					{{ page_summaries_list.2 }}</p>
					{% endif %}
					{% if page_summaries_list.2 != page_summaries_list.3 %}
					<h2>Whole Article</h3>
						{{ page_summaries_list.3 }}
					{% endif %}
					</div>
				</body>
				</html>

